/* 사용할 폰트 */
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}





/* 태그 이름을 통한 css 디자인 */
h1 {
    font-size: 2rem;
    font-family: 'HS-Regular';
}

a {
    text-decoration: none;
}

section {
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
}


/* 클래스 이름을 통한 css 디자인 */
/* header의 nav */
.header {
    z-index: 100;
    position: fixed;
    background: linear-gradient(#E8529Ccc, #13155ccc);
    width: 100%;
    color: white;
}

.header >.nav {
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav >.mobile-button {
    display: none;
}

.header >.nav >a{
    width: 40%;
}

.header >.nav >a >.nav-title {
    font-size: 1.5rem;
    font-family: 'PyeongChangPeace-Bold';
}

.header >.nav >.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'HS-Regular';
    width: 30%;
    height: 50px;
}

.header >.nav >.nav-menu a:hover {
    color: #F7EF12;
}

.header >.nav >.nav-menu a::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 2px;
    background-color: #F7EF12;
    position: absolute;
    bottom: 0;
    margin-left: -63px;
}

.header >.nav >.nav-menu a:hover:after {
    width: 70px;
    transition: all 0.3s;
}

.header >.nav a {
    color: white;
}


/* main */
/* 섹션부분을 찾기 힘들 것 같다면 메인에 두어도 상관없음 */


/* section1 행사 이름 */
.section1-wrap {
    width: 100%;
    height: 100vh;
    min-height: 400px;
    background-image: url(../img/light.jpg);
    background-size: cover;
    background-position: center;
}

.section1-wrap >.section1-title {
    color: white;
    padding: 300px 20px 0 20px;
    text-align: right;
}

.section1-wrap >.section1-title >h1 {
    font-size: 3rem;
}
.section1-wrap >.section1-title >h3 {
    font-size: 1.5rem;
    font-family: 'HS-Regular';
    margin: 10px 0;
}


/* section2 행사 설명 */
.section2-intro {
    text-align: center;
    padding: 60px 0;
    line-height: 120%;
    height: 400px;
}

.section2-intro >.intro-title,
.section2-intro >.intro-title h1 {
    margin-bottom: 30px;
}

.section2-intro >.intro-title h3 {
    font-family: 'TAEBAEKmilkyway';
}

.section2-intro >.intro-descript >table {
    margin: auto;
    text-align: left;
    margin-top: 50px;
}

.section2-intro >.intro-descript >table >tbody >tr >td {
    padding: 5px 10px;
}

.section2-intro >.intro-descript >table >tbody >tr >td:first-child {
    color: #13155c;
    padding: 5px 10px;
    border-right: 2px solid #13155c;
    font-weight: bold;
}


/* section3 행사 이미지 */
.section3-wrap >.section3-gallery >.gallery-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.section3-wrap >.section3-gallery >.gallery-title> a {
    background-color: #13155c;
    color: white;
    padding: 8px 12px;
    border-radius: 15px;
    transition: all 0.2s;
}

.section3-wrap >.section3-gallery >.gallery-title> a:hover {
    background-color: #E8529C;
    transition: all 0.2s;
}

.section3-wrap >.section3-gallery >.gallery-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    min-height: 360px;
    margin: auto;
}
.section3-wrap >.section3-gallery >.gallery-wrap >.gallery-board {
    display: inline-block;
    width: 280px;
    height: 350px;
    background-color: #8f91c2;
    border-radius: 30px;
    text-align: center;
    margin: 5px;
}

.section3-wrap >.section3-gallery >.gallery-wrap >.gallery-board >h4 {
    font-weight: bold;
}

.section3-wrap >.section3-gallery >.gallery-wrap >.gallery-board >.img-wrap {
    width: 250px;
    height: 250px;
    margin: 15px;
    overflow: hidden;
}

.section3-wrap >.section3-gallery >.gallery-wrap >.gallery-board:hover .img {
    transform: scale(1.1);
    transition: all 0.5s;
}


/* section3 이미지 넣는 공간 */
.section3-wrap >.section3-gallery >.gallery-wrap >.gallery-board:nth-child(1) .img {
    width: 250px;
    height: 250px;
    /*나중에 수정하기 위함*/
    background-image: url(../img/christmas.jpg);
    background-size: cover;
    background-position: center;
}

.section3-wrap >.section3-gallery >.gallery-wrap >.gallery-board:nth-child(2) .img {
    width: 250px;
    height: 250px;
    /*나중에 수정하기 위함*/
    background-image: url(../img/light-festival.jpg);
    background-size: cover;
    background-position: center;
}

.section3-wrap >.section3-gallery >.gallery-wrap >.gallery-board:nth-child(3) .img {
    width: 250px;
    height: 250px;
    /*나중에 수정하기 위함*/
    background-image: url(../img/fair.jpg);
    background-size: cover;
    background-position: center;
}
.section3-wrap >.section3-gallery >.gallery-wrap >.gallery-board:nth-child(4) .img {
    width: 250px;
    height: 250px;
    /*나중에 수정하기 위함*/
    background-image: url(../img/fireworks.jpg);
    background-size: cover;
    background-position: center;
}



/* section4 행사 뉴스 */
.section4-news {
    padding: 60px 0;
    height: 350px;
}

.section4-news >table {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.section4-news >table >tbody >tr td {
    border-top: 1px solid #13155c;
    border-bottom: 1px solid #13155c;
    padding: 15px 0;
}

.section4-news >table >tbody >tr >td:first-child {
    color :#13155c;
    font-weight: bolder;
    padding-right: 50px;
}

.section4-news >table >tbody >tr:hover >td {
    color: #E8529C;
}


/* footer */
.footer >.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgray;
    padding: 15px 0;
}

.footer >.footer-content >.footer-info >p {
    float: left;
    padding-right: 50px;
    padding-bottom: 10px;
    color: rgb(83, 83, 83);
    font-size: 0.8rem;
}

.footer >.footer-content >.footer-info >p:last-child {
    padding: 0;
    clear: both;
}



/* TOP - button */
.top-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 80px;
    height: 80px;
    background-color: #13155c;
    border-radius: 50%;
    box-sizing: border-box;
    padding-top: 30px;
    text-align: center;
    transition: all 0.3s;
}

.top-button:hover {
    background-color: #E8529C;
    transition: all 0.3s;
}

.top-button >a {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}


/* nav 모바일 버튼 */
.nav >.mobile-button {
    background-image: url(../img/bars-solid.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


/* 미디어쿼리 - nav */
@media screen and (max-width:767px) {
    .nav >.mobile-button {
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 20px;
    }
    .nav >a {
        position: absolute;
        top: 24px;
    }
    .nav >.nav-menu {
        flex-direction: column;
    }
    .nav >.nav-menu >li {
        display: none;
    }
    .nav >.mobile-button:hover +.nav-menu,
    .nav >.nav-menu:hover {
        height: 190px;
        justify-content: flex-start;
        position: relative;
        right: -80%;
        top : 70px;
        transition: all 0.5s;
    }
    .nav >.mobile-button:hover +.nav-menu >li,
    .nav >.nav-menu:hover >li {
        display: inline-block;
        padding: 10px 0;
    }
}

@media screen and (min-width:890px) {
    .section3-wrap >.section3-gallery >.gallery-wrap {
        flex-wrap: nowrap;
    }
    
}